@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar {
    width: 6px; /* Ancho personalizado */
  }

  html::-webkit-scrollbar-track {
    background-color: #0f172a; /* Color personalizado */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color personalizado */
  }

  html {
    font-family: "Roboto", sans-serif;
    scrollbar-width: thin;
  }

  body {
    @apply min-h-screen bg-slate-900 text-white;
  }
}

.active img,
.active figcaption {
  transition: filter ease 300ms;
  filter: brightness(200%);
}

.inactive img,
.inactive figcaption {
  filter: brightness(70%);
}

/* Loader */
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 2s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 30px;
  background: #ff3d00;
  transform: skew(5deg, 60deg) translate(-50%, -5%);
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}

.loader-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(230deg);
  }
  40%,
  60%,
  80% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(245deg);
  }
}

/* TABS */

.tabs-menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-block: 0.5rem;
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  text-align: center;
}

.tabs-menu input[type="radio"] {
  display: none;
}

.tabs-menu label {
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.tabs-menu input[type="radio"]:not(:checked) + label {
  color: #94a3b8;
}

.tab-bg {
  position: absolute;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #334155;
  transition: transform 300ms ease-in-out;
}

/* Temperature TABS */
.tabs-menu__temperature label {
  width: calc(100% / 2 - 0.25rem);
}

.tab-bg__temperature {
  width: calc(100% / 2 - 0.25rem);
}

#temperature-1:checked ~ .tab-bg {
  transform: translateX(0);
}
#temperature-2:checked ~ .tab-bg {
  transform: translateX(100%);
}

/* Wind Speed TABS */
.tabs-menu__wind label {
  width: calc(100% / 4 - 0.25rem);
}

.tab-bg__wind {
  width: calc(100% / 4 - 0.115rem);
}

#wind-1:checked ~ .tab-bg {
  transform: translateX(0);
}
#wind-2:checked ~ .tab-bg {
  transform: translateX(100%);
}
#wind-3:checked ~ .tab-bg {
  transform: translateX(200%);
}
#wind-4:checked ~ .tab-bg {
  transform: translateX(300%);
}

/* Precipitation TABS */
.tabs-menu__precipitation label {
  width: calc(100% / 2 - 0.25rem);
}

.tab-bg__precipitation {
  width: calc(100% / 2 - 0.25rem);
}

#precipitation-1:checked ~ .tab-bg {
  transform: translateX(0);
}
#precipitation-2:checked ~ .tab-bg {
  transform: translateX(100%);
}
